{% extends "workshop_app/base.html" %}

{% block title %}Password Changed | FOSSEE Workshops{% endblock %}

{% block content %}
    <div class="container">
        <section class="empty-state">
            <h2>Your password has been changed successfully.</h2>
            <p>Redirecting you back to the dashboard.</p>
        </section>
    </div>
    <script type="text/javascript">
        window.setTimeout(function () {
            location.href = "{% url 'workshop_app:index' %}";
        }, 2000);
    </script>
{% endblock %}
